* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

  *, ::before, ::after
{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

ul
{
  list-style: none;
}

html
{
    scroll-behavior: smooth;
}

body
{
background: rgb(5,5,34);
background: linear-gradient(52deg, rgba(5,5,34,1) 0%, rgba(26,7,55,1) 66%, rgba(75,11,11,1) 100%);
height: 100vh;
background-attachment: fixed;
scroll-behavior: smooth;
}

header img
{
  width: 80px;
}

header h2
{
  font-size: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

header nav
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

header .nav-ul
{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

header .nav-ul li a{
  display: inline-block;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 500;
  text-transform: uppercase;
}

header .hamburger
{
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  display: none;
}

header .hamburger:focus
{
  outline: none;

}

@media screen and (max-width:767px) {
  header .nav-ul li a 
  {
    padding:20px
  }

  header.nav-ul
  {
    display: none;
    flex-direction: column;
    width: 100%;
  }

   header.nav-ul.show
  {
    padding-top: 50px;
    display: flex;
  }

   header.hamburger
  {
    display: block;
  }

  header#bg-hamb.bg-nav
  {
    max-width: 100%;
    background: rgb(107,33,33);
    background: linear-gradient(328deg, rgba(107,33,33,1) 0%, rgba(43,10,10,1) 66%, rgba(12,11,75,1) 100%);   height: 100vh;
    border-radius: 0 0 0 50%;
  }


}

#head
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#head .col-md-6
{

    -webkit-flex: 1;
    flex: 1;
    width: 0;
    align-self: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

#head h1{
  letter-spacing: 0.3rem;
  padding-bottom: 20px;
  font-size: 50px;
  padding-right: 100px;
}

#head h2
{
  padding-right: 50px;
  padding-bottom: 40px;
}

#head .boton
{
  margin-left: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
}

#head .button
{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background: linear-gradient(
    90deg, rgba(97,9,145,1) 25%, rgba(60,20,151,1) 50%, rgba(64,97,211,1) 75%, rgba(109,224,246,1) 100%);
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-right: 20px;
}

#head .boton .telegram
{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
}




/* PROPOSAL*/

#proposal h3
{
  padding: 50px 0px 100px 0px;
  display: block;
  text-align: center;
  margin: 0px auto;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#proposal .content
{
  margin: 0px auto;
  text-align: center;
  display: block;
  margin-bottom: 100px;
}

#proposal .content .caja
{
  border-radius: 10px;
  background-color: rgba(1, 1, 1, 0.3);
  color: white;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#proposal .content .h4
{
  letter-spacing: 0.3rem;
}

#proposal .content img
{
  width: 40px;
  transform: rotate(-45deg);
}

#proposal .content .rota
{
  display: block;
  margin: 0px auto;
  padding: 30px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  position: absolute;
  right: 136px;
  top: -150px;
}

#proposal .content .rota1
{
  background-color: rgb(97,9,145);
}

#proposal .content .rota2
{
  background-color: rgb(60,20,151);
}

#proposal .content .rota3
{
  background-color: rgb(64,97,211);
}


/* ROADMAP */

#roadmap h3
{
  padding: 50px 0px 100px 0px;
    display: block;
    text-align: center;
    margin: 0px auto;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	background: white; 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#444;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color: white;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#207893;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
  background: linear-gradient(
    90deg, rgba(97,9,145,1) 25%, rgba(60,20,151,1) 50%, rgba(64,97,211,1) 75%, rgba(109,224,246,1) 100%);
 position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
  color: white;
}

#progress-content-section .section-content h4 {
	font-size:1.5rem;
	text-transform:uppercase;
	color:white;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:white;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}